<!DOCTYPE html>
<html>
<head>
  <title>Sproutjobs</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js','jquery-ui.min.js','jquery.odoticker.js','rails','application.js','ckeditor','jquery.lightbox.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
  <a name="top"></a>
  <div id="header">
    <span class= "image"><%= image_tag "job_header.jpg", :id =>"jobs_image"%></span>
    <div id="branding"><p><span class="templogo"><%= link_to "Sprout Jobs", applicants_path%></span><br />Jobs for all !!!</p>
      </div>
  </div>
  <div id="menu">
    <ul>
       <div id="welcome">
        <% if admin_signed_in? %>
            <%="Welcome #{current_admin.email}" %>
            <%=link_to "New Admin" , new_admin_registration_path %>
            <%= link_to "Sign Out" , destroy_admin_session_path %>
          <% else %>
          <%= "Welcome Applicant "%> |
          <%= link_to "Admin?" , new_admin_session_path %>

        <% end %>
      </div>
    </ul>
  </div> <!-- end top menu -->

  <!-- bodywrap -->

<div id="bodytop">&nbsp;</div>
  <div id="bodywrap">
    <div id="contentbody">

<%= yield %>

    </div>
  </div> <!-- end bodywrap -->

  <div id="bodybottom">&nbsp;</div>


  <!-- footer -->
  <div id="footer">
  <p>&copy; 2030 Sprout technologies</p>
  </div> <!-- end footer -->

  <!-- side menu  -->
  <div id="sidemenu">
    <div id="smtop"></div>
    <div id = "display_details"></div>
    <div id="smtitle">
      <div id="notice">
        <%= notice %>
      </div>
      <div id="alert">
        <%= alert %>
      </div>
    </div>
      <h1>Search Jobs</h1>
    <div id='search_jobs'>
      <%= form_tag search_jobs_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <% if admin_signed_in? %>
    <h1>Search Applicants</h1>
    <div id='search_applicants'>
      <%= form_tag search_applicants_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
    <% end %>
  <div id="smbottom">&nbsp;</div>
  </div> <!-- end side menu -->

  </div> <!-- end wrapper -->

</body>
</html>
